---
repos:
- repo: git://github.com/asottile/add-trailing-comma
  rev: v0.7.1
  hooks:
  - id: add-trailing-comma

- repo: git://github.com/timothycrosley/isort
  rev: 5.4.2
  hooks:
  - id: isort
    args:
    - --honor-noqa

- repo: git://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.6
  hooks:
  - id: remove-tabs

- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    exclude: >-
      ^(docs/requirements|requirements-build)\.txt$
  # Non-modifying checks:
  - id: name-tests-test
    files: >-
      ^tests/[^_].*\.py$
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  #- id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
    # args:
    # - --unsafe
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: git://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.0
  hooks:
  - id: rst-linter
    files: >-
      ^README\.rst$

- repo: git://github.com/pycqa/pydocstyle.git
  rev: 5.0.2
  hooks:
  - id: pydocstyle

- repo: https://github.com/codespell-project/codespell
  rev: v2.0.0
  hooks:
  - id: codespell

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.24.2
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
    types: [file, yaml]
    args:
    - --strict

- repo: https://gitlab.com/pycqa/flake8.git
  rev: 3.8.3
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020>=1.6.0
    - flake8-docstrings
    - flake8-pytest-style>=1.0.0
    - wemake-python-styleguide

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.782
  hooks:
  - id: mypy
    # empty args needed in order to match mypy cli behavior
    args:
    # FIXME: get rid of missing imports ignore
    - --namespace-packages
    - --ignore-missing-imports
    - src/sphinxcontrib/
    - tests/
    additional_dependencies:
    - Sphinx>=3.1.2
    pass_filenames: false

- repo: local
  hooks:
  - id: pylint
    language: system
    name: PyLint
    files: \.py$
    entry: python -m pylint
    args: []
    stages:
    - manual

- repo: local
  hooks:
  - id: immutable-setup-py
    name: Verify that setup.py stays immutable
    description: >-
      This is a sanity check that makes sure that
      the `setup.py` file isn't changed.
    # Using Python here because using
    # shell test does not seem to work in CIs:
    entry: >-
      sh -c 'git hash-object setup.py
      |
      python -c raise\ SystemExit\(input\(\)\ !=\ \"38cc2638672e1f6ca56e4d5ceaf16451dd702b67\"\)
      '
    pass_filenames: false
    language: system
    files: >-
      ^setup\.py$
