---
repos:
- repo: https://github.com/asottile/add-trailing-comma.git
  rev: v2.2.3
  hooks:
  - id: add-trailing-comma

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args:
    - --honor-noqa

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.3.1
  hooks:
  - id: remove-tabs

- repo: https://github.com/python-jsonschema/check-jsonschema.git
  rev: 0.17.1
  hooks:
  # - id: check-github-workflows
  - id: check-jsonschema
    alias: check-github-workflows-local
    name: Check GitHub Workflows patched schema
    args:
    - --schemafile
    - .github/.json-schemas/github-workflow.json
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  # yamllint disable rule:comments-indentation
  # - id: check-jsonschema
  #   name: Check GitHub Workflows set timeout-minutes
  #   args:
  #   - --builtin-schema
  #   - github-workflows-require-timeout
  #   files: ^\.github/workflows/[^/]+$
  #   types:
  #   - yaml
  # - id: check-readthedocs
  # yamllint enable rule:comments-indentation

- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.3.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    exclude: >-
      ^(docs/requirements|requirements-build)\.txt$
  # Non-modifying checks:
  - id: name-tests-test
    files: >-
      ^tests/[^_].*\.py$
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  # - id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
  #  args:
  #  - --unsafe
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: https://github.com/Lucas-C/pre-commit-hooks-markup.git
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: >-
      ^README\.rst$

- repo: https://github.com/PyCQA/pydocstyle.git
  rev: 6.1.1
  hooks:
  - id: pydocstyle

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.1
  hooks:
  - id: codespell
    exclude: >-
      ^\.github/\.json-schemas/.*\.json$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.27.1
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
    types: [file, yaml]
    args:
    - --strict

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1  # Must be kept at v4 for as long as WPS doesn't support v5
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020>=1.6.0
    - flake8-docstrings
    - flake8-length
    - flake8-pytest-style>=1.0.0
    - wemake-python-styleguide

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v0.971
  hooks:
  - id: mypy
    additional_dependencies:
    - lxml  # requirement of `--txt-report`
    - Sphinx >= 3.1.2
    - types-docutils
    - types-typed-ast
    args:
    # FIXME: get rid of missing imports ignore
    - --namespace-packages
    - --ignore-missing-imports
    - --install-types
    - --non-interactive
    - --txt-report=.tox/.tmp/.mypy/
    - src/sphinxcontrib/
    - tests/
    pass_filenames: false

- repo: local
  hooks:
  - id: pylint
    language: system
    name: PyLint
    files: \.py$
    entry: python -m pylint
    args:
    - --rcfile
    - .pylintrc
    stages:
    - manual

- repo: local
  hooks:
  - id: immutable-setup-py
    name: Verify that setup.py stays immutable
    description: >-
      This is a sanity check that makes sure that
      the `setup.py` file isn't changed.
    # Using Python here because using
    # shell test does not seem to work in CIs:
    entry: >-
      sh -c 'git hash-object setup.py
      |
      python -c raise\
      SystemExit\(input\(\)\ !=\ \"38cc2638672e1f6ca56e4d5ceaf16451dd702b67\"\)
      '
    pass_filenames: false
    language: system
    files: >-
      ^setup\.py$
